<div class="register-wrapper">
    <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
        <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Edit profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
         


              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password">
                
                <button type="button" mat-icon-button matSuffix  (click)="hide = !hide" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

            <mat-form-field  appearance="fill">
                <mat-label>Phone: </mat-label>
              
                <input  matInput   formControlName="phone">
              
                <mat-error *ngIf="phone.errors?.minlength">
                  Phone must have atleast{{phone.errors.minlength.requiredLength}} characters
                  but has only {{phone.errors.minlength.actualLength}} characters</mat-error>
              </mat-form-field>
        

      

              
            <mat-form-field appearance="fill">
                <mat-label>Line</mat-label>
                <input matInput   formControlName="line">
              </mat-form-field>

              
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput   formControlName="city">
              </mat-form-field>

              
            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input matInput   formControlName="state">
              </mat-form-field>
        
        
              <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput   formControlName="country">
              </mat-form-field>

              
            <mat-form-field appearance="fill">
                <mat-label>Pincode</mat-label>
                <input type="number"  matInput   formControlName="pincode">
                <mat-error *ngIf="pincode.errors?.minlength">
                  Pincode must have atleast {{pincode.errors.minlength.requiredLength}} characters
                  but has only {{pincode.errors.minlength.actualLength}} characters</mat-error>
              </mat-form-field>
        
        
        
        

      
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-stroked-button color="primary"
             [disabled]="editForm.invalid">Confirm</button>
        </mat-card-actions>
        </mat-card>
    </form>
  </div>